.list {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    min-width: 300px;

}

.row {
    padding: 3px;
    text-align: center;
}

.notLogged {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.listWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}

.item {
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    max-width: 420px;
    outline: 0;
    padding: 10px 0;
    transition: background 0.3s;
    width: 80%;
    color: #1abc9c;
}


.tableHeader {
    background-color: #1abc9c;
    padding: 30px;
    border-radius: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}


.navLink {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 13px;
    border-radius: 10px

}